<launch>

	<!-- Some general parameters -->
	<param name="use_sim_time" value="false" />
	<rosparam file="$(find nav2d_tutorials)/param/ros.yaml"/>



	<!-- Start the Operator to control the simulated robot -->
	<node name="Operator" pkg="nav2d_operator" type="operator" >
		<rosparam file="$(find nav2d_tutorials)/param/operator.yaml"/>
		<rosparam file="$(find nav2d_tutorials)/param/costmap.yaml" ns="local_map" />
	</node>

	<!-- Load the environment map in the map_server -->
	<node name="MapServer" pkg="map_server" type="map_server" args="$(find nav2d_tutorials)/world/office_asym.yaml" />

	<!-- Start particle filter to track the robot's position -->
	<node name="SelfLocalizer" pkg="nav2d_localizer" type="localizer">

		<param name="min_particles" type="int" value="500"/>
		<param name="max_particles" type="int" value="10000"/>
	</node>

	<!-- Start the Navigator to move the robot autonomously -->
	<node name="Navigator" pkg="nav2d_navigator" type="navigator">
		<rosparam file="$(find nav2d_tutorials)/param/navigator.yaml"/>
	</node>

	<node name="SetGoal" pkg="nav2d_navigator" type="set_goal_client" />
	<node name="Explore" pkg="nav2d_navigator" type="explore_client" />
	<node name="GetMap" pkg="nav2d_navigator" type="get_map_client" />

	<include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"/>


	<!-- RVIZ to view the visualization -->
	<node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find nav2d_tutorials)/param/tb3_tutorial2.rviz" />

</launch>
